@charset "utf-8";
*{
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.text-hide{
    text-indent: -9999px;
}

h2{
    color:black;
    text-align: center;
    padding-top: 40px;
}

.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:'';}


/* ------ header ----- */
/* 메인 상단 팝업 */

header>p{
    display: none;
    position: fixed;
    top:0;
    z-index: 100;
    width:100%;
    height:50px;
    padding-left: 10px;
    background-color: #E84341;
    color: aliceblue;
    line-height: 50px;
}

header>p>a{
    font-size: 10px;
}

header>p>a.more{
    margin: 0 10px 0 20px;
}

header>p>a.close{
    position: relative;
}

header>p>a.close>span{
    position: absolute;
    top:0;
    right: -15px;
    width:10px;
    height:10px;
    background: url("../images/close.png") no-repeat;
    background-size: 10px 10px;
    text-indent: -9999px;
}

.arrow{
    position: absolute;
    top:6px;
    right: -10px;
    display:block;
    width:0;
    height:0;
    border-width:3px;
    border-style:solid;
    border-color:gray transparent transparent transparent;
    text-indent:-9999px;
}

.lang{
    display: flex;
    flex-direction: row;
    margin: 5px 0 0 5px;
    font-size: 10px;
    font-weight: 600;
}

.lang>li:first-child{
    margin-right: 15px;
}

.lang>li:last-child{
    position: relative;
}

.sub-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color:gray;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
}

.sub-nav>li{
    margin-right: 20px;
}
.sub-nav>form{
    position: relative;
}

.sub-nav>form>button{
    position: absolute;
    top:3px;
    right: 5px;
    width:20px;
    height: 20px;
    border: none;
    background: url("../images/search.png") no-repeat;
    background-size: 20px 20px;
    text-indent: -9999px;
}

/* 로고 */
h1{
    width: 190px;
    height: 65px;
    background-image: url("../images/logo_h1.png");
    background-repeat: no-repeat;
    background-size: 190px 65px;
    margin: 50px auto;
    text-indent: -9999px;
}

/* main nav */
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#3A3A3A;
    font-weight: 800;
}

.nav>li{
    width:200px;
    height: 50px;
    margin-right: 100px;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
}

.nav>li>a:hover{
    color:#df2231;
}

.nav>li:last-child{
    margin-right: 0;
}

/* nav toggle*/

.nav-toggle-container{
    width:100%;
    display: none;  
    position: absolute;
    z-index: 100;
}

.nav-toggle{
    width:100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-top: 3px solid #df2231;
}

.nav-toggle>div{
    width:200px;
    margin-right: 100px;
    text-align: center;
}

.nav-toggle>div:last-child{
    margin-right: 0;
}

.nav-toggle>div>li{
    margin-top: 5px;
    font-size: 12px;
}

.nav-toggle>div>li>a{
    color:black;
}

/* ----- rolling banner ----- */
.rollingbanner{
    width:100%;
    height:362px;
}
.rollingbanner>div{
/*    display: none;*/
    position: relative;
    overflow: hidden;
    width:100%;
    height:362px;
    border-top: 3px solid #7a6351;
}

.rollingbanner>div>ol{
    position:absolute;
    left:0;
    top:0;
    width:400%;
    height:362px;
}

.rollingbanner>div>ol>li{
    float:left;
    width:25%;
    height: 362px;
    text-indent: -9999px;
    background-repeat:no-repeat;
}

.rollingbanner>div>ol>li:nth-child(1){
    background-image:url(../images/banner1.jpg);
}

.rollingbanner>div>ol>li:nth-child(2){
    background-image:url(../images/banner2.jpg);
}

.rollingbanner>div>ol>li:nth-child(3){
    background-image:url(../images/banner3.jpg);
}

.rollingbanner>div>ol>li:nth-child(4){
    background-image:url(../images/banner4.jpg);
}

.rollingbanner>div>ol>li>a{
    display:block;
    width:2000px;
    height:362px;
}

/* rolling banner play,stop 버튼 */
#rollingbanner>.btn{
    display: block;
    width:40px;
    height:40px;
    background-image:url("../images/btn.png");
    background-repeat:no-repeat;
    text-indent:-9999px;
}

#rollingbanner{
    position: relative;
}

#rollingbanner>.btnPlay{
    position: absolute;
    top:5px;
    right: 220px;
    background-position:-40px 0;
}
#rollingbanner>.btnStop{
    position: absolute;
    top:5px;
    right: 170px;
}

/* rolling banner pagination */
#rollingbanner>ul{
    position: absolute;
    top:10px;
    right: 30px;
}

#rollingbanner>ul>li{
    display: inline-block;
    width:30px;
    height:30px;
    background-image:url("../images/pagination.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}
#rollingbanner>ul>li>a{
    display:block;
    width:30px;
    height:30px;
}

/* rollingbanner pagination hover */
#rollingbanner>ul>li:nth-child(1):hover{width:30px;height:30px;background-position:-60px 0;}
#rollingbanner>ul>li:nth-child(2):hover{width:30px;height:30px;background-position:-60px 0;}
#rollingbanner>ul>li:nth-child(3):hover{width:30px;height:30px;background-position:-60px 0;}
#rollingbanner>ul>li:nth-child(4):hover{width:30px;height:30px;background-position:-60px 0;}

/* rollingbanner pagination addClass */
#rollingbanner>ul>li:nth-child(1).paginationOn{width:30px;height:30px;background-position:-30px 0;}
#rollingbanner>ul>li:nth-child(2).paginationOn{width:30px;height:30px;background-position:-30px 0;}
#rollingbanner>ul>li:nth-child(3).paginationOn{width:30px;height:30px;background-position:-30px 0;}
#rollingbanner>ul>li:nth-child(4).paginationOn{width:30px;height:30px;background-position:-30px 0;}



/* --------------- 예약 article --------------- */

input {
    border-radius: 10px;
    border: none;
    background: white;
    background-color:#F2F2F2;
    font-size: 15px;
    padding: 5px;
}

#ticket{
    width:100%;
    margin-top: 20px;
    align-items: center;
}

.ticket-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ticket-select>li{
    width:70px;
    height: 30px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    background-color: #BF9E86;
    font-size: 12px;
}

.ticket-select>li>a{
    color:aliceblue;
}
.ticket-select>li.ticketOn{
    background-color: #7a6351;
}

.ticket-select li:last-child{
    margin-right: 0;
}

/*체크박스*/

.okay>button{
    width: 80px;
    height: 50px;
    border: 2px solid #3f2204;
    background-color: #7a6351;
    color: white;
    font-size: 12px;
}

.ticket-container{
    width:100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a6351;
}

.checkbox{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 12px;
}

.checkbox>form{
    margin-bottom: 10px;
    color: white;
}

.checkbox>form:last-child{
    margin-bottom: 0;
}

.ticketSchedule{
    margin: 30px;
}

.ticketSchedule>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
}

.ticketSchedule>div:first-child>form{
    margin-right: 20px;
    position: relative;
}

.ticketSchedule>div:first-child>form:nth-child(3), form:nth-child(4){
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ticketSchedule>div:first-child>form>label{
    width:60px;
}

.ticketSchedule>div:first-child>form:last-child{
    margin-right: 0;
}

.ticketSchedule>div:first-child>form>.myBtn{
    position: absolute;
    right: 5px;
    top: 5px;
}

.ticketSchedule>div>form>.myBtn{
    width:20px;
    height: 20px;
    border: none;
    background-color: #F2F2F2;
    background-image: url("../images/placemark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    text-indent: -9999px;
    cursor: pointer;
}

.question-mark{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 210px;
    color:white;
}

.question-mark>form{
    margin-right: 110px;
}

.question-mark>form>button{
    width:20px;
    height:20px;
    border : none;
    border-radius: 50%;
    text-align: center;
}

.question-mark>form:last-child{
    margin-right: 0;
}

.people-number{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.people-number>form{
    margin-right: 25px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#adult,#young,#child{
    text-align: center;
    width:60px;
}


.people-number>form>button{
    width:30px;
    height: 30px;
    border-radius: 50%;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡ zone 공통사항 ㅡㅡㅡㅡㅡㅡ*/
#specialzone>a,#eventzone>a,#servicezone>a{
    display: block;
    border-bottom: 1px solid black;
    position: absolute;
    left: 50%;
    top:40px;
    margin-left: 70px;
    color: gray;
    font-size: 10px;
}

/* ---------- 특가존 ---------- */
/* banner */
#specialzone{
    position: relative;
    margin: 0 auto;
    width:100%;
    height: 300px;
    background-color: #e5e6df;
}

.flow_bann_area { 
    width: 953px;
    height: 200px;  
    position: absolute;
    top:70px;
    left: 50%;
    margin: 20px 0 0 -475px;
    overflow: hidden;
}

.flow_bann_area>ol>li>a>img { 
    height: 200px; 
    position: absolute;
    top:0;
    left: 0;
}


/* button */




/* ---------- 이벤트 ---------- */
/* banner */
#eventzone{
    position: relative;
    margin: 0 auto;
    width:100%;
    height: 300px;
}

#eventzone>.flow_bann_area { 
    width: 953px;
    height: 200px;  
    position: absolute;
    top:70px;
    left: 50%;
    margin: 20px 0 0 -475px;
    overflow: hidden;
}


/* ---------- 서비스 ---------- */
/* banner */
#servicezone{
    position: relative;
    margin: 0 auto;
    width:100%;
    height: 300px;
}

#servicezone>.flow_bann_area { 
    width: 953px;
    height: 200px;  
    position: absolute;
    top:70px;
    left: 50%;
    margin: 20px 0 0 -475px;
    overflow: hidden;
}

/* ---------- 아시아나 뉴스 --------- */

#news>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    
}
#news>div>.news{
    border-left: 5px solid gray;
    width:270px;
    height:110px;
    margin-right: 30px;
}

#news>div>.news>ul>li{
    margin: 5px 0 0 5px;
}

#news>div>.benefit>ol{
    display: flex;
    flex-direction: row;
}

#news>div>.benefit>ol>li{
    width: 50px;
    height: 50px;
    background-image: url("../images/news.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-left: 20px;
}

#news>h2{
    margin-left: -600px;
}

.news{
    position: relative;
}

.news>a{
    position: absolute;
    top:-35px;
    right: 70px;
}

/*background위치*/
#news>div>.benefit>ol>li:nth-child(1){background-position:}
#news>div>.benefit>ol>li:nth-child(2){background-position:-50px 0;}
#news>div>.benefit>ol>li:nth-child(3){background-position:-100px 0;}
#news>div>.benefit>ol>li:nth-child(4){background-position:-150px 0;}
#news>div>.benefit>ol>li:nth-child(5){background-position:-200px 0;}
#news>div>.benefit>ol>li:nth-child(6){background-position:-250px 0;}

/*hover*/
#news>div>.benefit>ol>li:nth-child(1):hover{background-position:0 -50px;}
#news>div>.benefit>ol>li:nth-child(2):hover{background-position:-50px -50px;}
#news>div>.benefit>ol>li:nth-child(3):hover{background-position:-100px -50px;}
#news>div>.benefit>ol>li:nth-child(4):hover{background-position:-150px -50px;}
#news>div>.benefit>ol>li:nth-child(5):hover{background-position:-200px -50px;}
#news>div>.benefit>ol>li:nth-child(6):hover{background-position:-250px -50px;}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ shadow */



/* The Modal (background) */
.modal {
/*    display: none;*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 55%;
}

/* The Close Button */
.close {
    position: absolute;
    top:5px;
    right:5px;
    display: block;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



#title{
    width:200px;
    color:dimgray;
    font-size: 15px;
    margin: 0 auto;
    line-height: 30px;
    font-weight: 800;
    text-align: center;
    border-bottom: 2px solid #df2231;
}

.list{
    position: relative;
    display: flex;
    flex-direction: row;
}

.list>ol#area{
    width:130px;
    height:300px;
    background-color: #efefef;
    margin: 20px 0 0 10px;
}

.list>ol#area>li{
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.list>ol#area>li:first-child{
    margin-top:25px;
}

.list>ol#area>li>a{
    display: block;
    height: 25px;
    color:black;
    font-size: 13px;
    font-weight: 600;
}

.list>ol#area>li:hover{
    background-color: white;
}

.list>ol#area>li.listOn>a{
    border-left: 5px solid #df2231; 
}

#city{
    width:490px;
    height:300px;
    background-color: #efefef;
    margin: 20px 0 0 10px;
    padding: 25px;
}

#city>li{
    height:15px;
    margin-top: 5px;
}

#city>li:hover{
    border-bottom: 1px solid gray;
}

#city>li>a{
    color:gray;
}



/* ---------- footer ---------- */
footer{
    background-color: #E6E7E0;
    margin-top: 100px;
}

footer>div>select{
    width:250px;
    height:40px;
    margin: 10px 30px 0 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;  
    background: url("../images/familysite.png") no-repeat ;
    background-size: 250px 40px;
}

.familysite{
    display: flex;
    flex-direction: row;
}

.familysite>ul{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.familysite>ul>li{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.familysite>ul>li>a{
    display: block;
    width: 40px;
    height: 40px;
}

.familysite>ul>li:nth-child(1){
}

.familysite>ul>li:nth-child(2){
    background-position: -40px 0;
}

.familysite>ul>li:nth-child(3){
    background-position: -80px 0;
}

.familysite>ul>li:nth-child(4){
    background-position: -120px 0;
}

.familysite>ul>li:nth-child(5){
    background-position: -160px 0;
}

.familysite>ul>li:last-child{
    background-position: -200px 0;
    margin-right: 0;
}

address{
    margin: 10px 300px 0 10px;
}

.address{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.address>a{
    display: block;
    margin-right: 30px;
    text-indent: -9999px;
}

.address>a.kumhoasiana{
    width:133px;
    height: 35px;
    background-image: url("../images/kumhoasiana.jpg");
    background-repeat: no-repeat;
    background-size: 133px 35px;
}

.address>a.starMember{
    width:234px;
    height: 24px;
    background-image: url("../images/starMember.png");
    background-repeat: no-repeat;
    background-size: 234px 24px;
}

footer>ol{
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 10px;
}

footer>ol>li{
    width:120px;
    height:15px;
    margin-right: 10px;
    text-align: center;
}

footer>ol>li>a{
    color: black;
    font-weight: 600;
}

.footer_logo{
    border-top: 1px solid gray;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-indent: -9999px;
}

.footer_logo>p{
    margin: 15px 0 15px 0;
}

.footer_logo>p:first-child{
    width:144px;
    height: 52px;
    background: url("../images/i_love.jpg") no-repeat;
    margin-right: 50px;
}

.footer_logo>p:last-child{
    width:115px;
    height: 60px;
    background: url("../images/logo_1618.png") no-repeat;
    margin-right: 0;
}