<IfModule mod_url.c>
    checkURL On
    ServerEncoding EUC-KR
    ClientEncoding UTF-8
</IfModule>
php_flag register_globals on
php_flag register_long_arrays on

RewriteEngine On
RewriteCond $1 !^(birdhouse)/
RewriteCond %{HTTP_HOST} ^jyansol.dothome.co.kr\.com [NC]
RewriteRule ^(.*)$ /birdhouse/$1 [L]

RewriteEngine On
RewriteCond $1 !^(renewal_naverline)/
RewriteCond %{HTTP_HOST} ^jyansol.dothome.co.kr\.com [NC]
RewriteRule ^(.*)$ /renewal_naverline/$1 [L]
