@charset "utf-8";

*{
    box-sizing: border-box;
}


.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

/* ------ header / nav ------ */
header{
    position: fixed;
    width:100%;
    height:50px;
    z-index:100;
}

nav>ul {
    width:100%;
    height:50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: 5px solid tomato;
    background-color: white;
}

nav>ul>li{
    width:220px;
    margin-right:50px;
    font-size:20px;
    text-align: center;
}

nav>ul>li:last-child{
    margin-right:0;
}

nav>ul>li.on>a{
    color:tomato;
}

/* -------- MAIN(HOME) -------- */
.main{
    position: relative;
}

.main>ul {
    width:100%;
    height: 900px;
    background-color:#93653C;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color:white;
}

.main>ul>li{
    margin-top:20px;
}

.main>ul>li.name{
    text-indent:-9999px;
}

.main>ul>li.name_bg{
    align-self:center;
    margin-top:-100px;
    width:600px;
    height:80px;
    background-image:url("../images/name_bg.png");
    background-size:600px 80px;
    background-repeat: no-repeat;
}

.main>ul>li.name_text{
    width:600px;
    height:80px;
    position: absolute;
    top:182px;
    background-image:url("../images/name.png");
    background-size:600px 80px;
    background-repeat: no-repeat;
/*
    align-self:center;
    margin-top:-80px;
*/
}

.main>ul>li:nth-child(3){
    font-size: 40px;
    font-weight: 400;
}

.main>ul>li:nth-child(5){
    width:105px;
    height:94px;
    background-image:url("../images/scroll.png");
    background-repeat: no-repeat;
    background-size: 105px 94px;
    text-indent:-9999px;
    margin-top: 150px;
}

/* -------- ABOUT ME -------- */
.about>ul {
    width:100%;
    height:600px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color:#93653C;
    color:white;
}

.about_text{
    width:250px;
}

.about_text>li{
    margin-top: 15px;
}

.about>ul>li.image{
    width:410px;
    height:520px;
    flex-basis:420px;
    flex-shrink: 0;
    text-indent: -9999px;
}

.about>ul>li:first-child{
    background-image:url("../images/about_1.png");
    background-repeat: no-repeat;
    background-size: 410px 520px;
}

.about>ul>li:last-child{
    background-image:url("../images/about_2.png");
    background-repeat: no-repeat;
    background-size: 410px 520px;
}

.about>ul>div.about_text{
    display:flex;
    flex-direction:column;
    /* align-items: center; */
    justify-content: center;
    margin-left: 15px;
}


/* -------- SKILL -------- */
.skill {
    width:100%;
    height:400px;
    background-image:url("../images/skill_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 200px;
}

.skill>ul{
    height:600px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.skill>ul>li{
    margin: 60px 40px 0 0;
    color:gray;
    font-size: 15px;
    font-weight:600;
}

.skill>ul>li:last-child{
    margin-right:0;
}

.skill>ul>li>ol{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.skill>ul>li>ol>li:last-child{
    margin-top:40px;
}

.skill_image{
    width:150px;
    height:69px;
    background-image: url("../images/skill.png");
    text-indent: -9999px;
}

.skill>ul>li:nth-child(2)>ol>li.skill_second{
    background-position: -150px 0;
}
.skill>ul>li:nth-child(3)>ol>li.skill_third{
    background-position: -300px 0;
}
.skill>ul>li:nth-child(4)>ol>li.skill_fourth{
    background-position: -450px 0;
}
.skill>ul>li:nth-child(5)>ol>li.skill_fifth{
    background-position: -600px 0;
}

/* -------- PORTFOLIO -------- */
.portfolio {
    height:900px;
    display:flex;
    /*align-self: flex-start;*/
    align-items: center;
    justify-content: center;
}

.portfolio_cont{
    width:1250px;
    flex-wrap:wrap;
    display:flex;
    flex-direction:row;
        align-items: center;
    justify-content: center;
}

.portfolio_div{
    margin-right: 10px;
}

.portfolio_div>ul{
    width:250px;
    text-align: center;
}


.portfolio_div>ul>li{
    width:250px;
}

.portfolio_div>ul>li:nth-child(1){
    width:250px;
    height:200px;
    text-indent: -9999px;
}

#im1{
    background-image: url("../images/pfimage2.png");
}

#im2{
    background-image: url("../images/pfimage1.png");
}


#im1:hover,#im2:hover{
   background-position: -250px 0; 
}


/* view 버튼 */
.portfolio_div>ul>li.btn{
    width:250px;
    height:35px;
    line-height: 35px;
    border-bottom: 3px solid black;
}
/* -------- FOOTER -------- */
footer{
    height:150px;
}

footer>p{
    margin-top: 15px;
    font-size:20px;
    text-align: center;
}

footer>ol{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer>ol>li{
    width: 50px;
    height: 50px;
    margin-top:30px;
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    text-indent:-9999px;
    margin-right:15px;
}

footer>ol>li>a{
    display: block;
    width:50px;
    height:50px;
}

footer>ol>li:nth-child(2){
    background-position: -50px 0;
}

footer>ol>li:nth-child(3){
    background-position: -100px 0;
    margin-right: 0;
}
